<h3>{{title}}</h3>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>SI No</th>
      <th>Student Name</th>
      <th>Subject Name</th>
      <th>Marks</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>

    <tr
      [ngClass]='{"table-warning":f, "table-primary":l}'
     *ngFor="let item of students_detail;let i=index; let o=odd; let e=even; let f = first; let l = last">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.subject}}</td>
      <td>{{item.marks}}</td>
      <td>{{item.result}}</td>
    </tr>
  </tbody>
</table>